# OpenWeather
OPENWEATHER_API_KEY=your_openweather_api_key

# Kakao
NEXT_PUBLIC_KAKAO_JAVASCRIPT_KEY=your_kakao_javascript_key
KAKAO_REST_API_KEY=your_kakao_rest_api_key

# YouTube
YOUTUBE_DATA_API_KEY=your_youtube_data_api_key
NEXT_PUBLIC_YOUTUBE_PLAYER_HOST=https://www.youtube.com

# Upstash Redis
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token

# Client config
NEXT_PUBLIC_APP_NAME=My Vibe Music
